/* Mobile and Tablet */
@media (max-width: 1023px) {
  li {
    width: 100%;
  }
  .header__bars {
    display: block;
  }
  .header__menu-list {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(52, 49, 49);
    width: 100%;
    z-index: 9999;
    gap: 10px 0;
    padding: 40px 0;
    transform: translateY(-100%);
  }
  .header__menu-list.is-show {
    transform: translateY(0);
  }
  .header__menu-item {
    padding: 20px 20px 20px 60px;
    color: #fff;
  }
  .header__menu-item:hover {
    background-color: #f49742;
    color: #000;
  }
  .header__search {
    width: 100%;
  }

  .header__bars {
    font-size: 40px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .history__image,
  .footer__list {
    margin-top: 20px;
  }
  .history__container,
  .footer__bottom {
    flex-direction: column;
  }
  .footer__social {
    margin-left: 30px;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .header {
    position: relative;
    padding-bottom: 30px;
  }
  .header__search {
    position: absolute;
    bottom: -20px;
    left: 20px;
    z-index: 10;
    background-color: #fff;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: #d2cece;
    border-radius: 7px;
  }
  .header__input {
    margin-right: 50px;
  }
  .header__logo {
    width: 65px;
    height: 25px;
  }
  .header__func {
    gap: 0 14px;
  }
  .footer__bottom,
  .footer__list,
  .history__container,
  .category__list,
  .seller__list {
    flex-direction: column;
  }
  .history__image {
    width: 500px;
  }
  .history__desc {
    width: auto;
  }
  .history__container {
    overflow-x: hidden;
  }
  .category__list {
    gap: 10px 0;
  }
  .hero {
    background-image: url("/assets/img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__right {
    display: none;
  }
  .trademark__container {
    flex-wrap: wrap;
    gap: 30px 0;
  }
  .category {
    margin-top: 55px;
  }
  .collection__title {
    margin-top: 770px;
  }
  .history {
    margin-top: 20px;
  }
  .register__form {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }
  .register__input {
    margin-right: 0;
  }
  .footer {
    margin-top: 30px;
  }
  h4 {
    margin-top: 20px;
  }
  .footer__company-detail {
    max-width: max-content;
  }
  .footer__social {
    margin-left: 0;
    font-size: 20px;
  }
  .footer__social-icon {
    width: 50px;
    height: 50px;
  }
  .footer__wrapper {
    gap: 10px 0;
  }
  .footer__list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer__bottom {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer__coppy--right {
    font-size: 14px;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__search {
    width: 100%;
  }

  .header__bars {
    font-size: 40px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .history__image,
  .footer__list {
    margin-top: 20px;
  }
  .history__container,
  .footer__bottom {
    flex-direction: column;
  }
  .footer__social {
    margin-left: 30px;
  }
}
